@import "tailwindcss";

@media print {
  .no-print {
    display: none !important;
  }

  body {
    background: #fff !important;
  }

  .print-calendar {
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
  }

  .fc .fc-toolbar {
    display: none !important;
  }
}
